body{
    background-image: url("../img/upfeathers.png")
}
.bio{
    margin-top: 10px;
    background-color: #F0C5E2;
}
.portfolio{
    margin-top: 15px;
}
.port-img{
    width: 550px;
    height: 400px;
}

#crystals{
    float: right;
    margin-right: 100px;
}