body{
    background-image: url("../img/upfeathers.png");
}
h2{
    text-align: center;
}
.bio{
    width: 93%;
    margin-top: 1%;
    margin-left: 3%;
    padding: 1%;
    background-color: #96E2E2;
    color: #3A3A3A;
    font-family: "Gilda Display";
    border: 1px solid #6D1D66;
    border-radius: 8px;
}
.portfolio{
    width: 93%;
    margin-left: 3%;
    background-color: #7ACECE;
    color: #3A3A3A;
    margin-top: 2%;
    font-family: "Gilda Display";
    border: 1px solid #6D1D66;
    border-radius: 8px;
}
#row-one{
    margin-top: 2%;
    margin-bottom: 1%;
    border-bottom: 1px solid #6D1D66;
}
#row-two{
    margin-top: 2%;
    border-bottom: 1px solid #6D1D66;
}
#row-three{
    margin-top: 2%;
}
.port-img{
    width: 500px;
    height: 300px;
}
#crystals{
    float: right;
}
#psychic{
    float: left;
}
#wireframe{
    float: right;
}

.btn{
    background-color: #812379;
    color: whitesmoke;
}
.contact{
    width: 93%;
    margin-top: 2%;
    margin-left: 3%;
    background-color: #2A7C7C;
    color: #2B2929;
    text-align: center;
    font-family: "Gilda Display";
    border: 1px solid #6D1D66;
    border-radius: 8px;
}
.links{
    color:whitesmoke;
}